{
  "extends": ["airbnb-base", "prettier"],
  "plugins": ["jest"],
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "jest/globals": true
  },
  "rules": {
    "quotes": [2, "single"],
    "no-underscore-dangle": 0
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"]
      }
    }
  }
}
